.bg-zinc-900-important {
  background-color: #18181b !important;
}
.bg-zinc-800-important {
  background-color: #27272a !important;
}
.text-white-important {
  color: #fff !important;
}
.text-zinc-200-important {
  color: #e4e4e7 !important;
}
